@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f3f3f3;
}

header {
    width: 450px;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    display: flex;
}

img {
    width: 75px;
    height: 53px;
    margin: 16px auto auto 22px;
}

header ion-icon {
    margin: 18px 21px auto auto;
    font-size: 45px;
}

.Container {
    width: 450px;
    margin: 80px 0 84px 0;
    padding-top: 26px;
}

.Container div {
    margin-bottom: 4px;
    border-radius: 2px;
    padding: 8px;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 16px;
}

.System_message {
    background-color: #dcdcdc;
}

.Public_message {
    background-color: #ffffff;
}

.Private_message {
    background-color: #ffdede;
}

time {
    margin-right: 8px;
    color: #aaaaaa;
}

strong {
    font-weight: 700;
}

span {
    margin-right: 8px;
}

footer {
    width: 450px;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

footer textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    width: 83%;
    height: 80%;
    margin: 0 auto 0 17px;
    border: none;
    resize: none;
    padding: 20px 0;
}

footer textarea::placeholder {
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    color: #000000;
    
}

textarea:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

footer ion-icon {
    font-size: 26px;
    margin: 0 18px 0 auto;
}

@media (max-width: 450px) {
    header,
    .Container,
    footer {
        width: 100%;
    }
}